.features {
  & .container {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
  }

  &-section {
    display: flex;
    width: 340px;

    &__image {
      margin-right: 20px;

     & img {
       width: 48px;
       height: 48px;
     }
    }

    &__title {
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
    }

    &__subtitle {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      line-height: 24px;
    }
  }
}