body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #ffff;
  overflow-x: hidden;
  background-color: #171836;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
}

input {
  border: none;
  outline: none;
}

.primary-button {
  background-color: #F5443B;
  border-radius: 4px;
  color: #ffff;
  border: 1px solid #F5443B;
  transition: 150ms ease;

  &:hover {
    color: #F5443B;
    border-color: #F5443B;
    background-color: transparent;
  }
}

.secondary-button {
  background-color: transparent;
  color: #F5443B;
  border: 1px solid #F5443B;
  transition: 150ms ease;
  border-radius: 4px;

  &:hover {
    color: #ffff;
    background-color: #F5443B;
  }
}

.stop-scroll {
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.card {
  cursor: pointer;
  background-color: #1F2143;
  border: 3px solid #323465;
  border-radius: 20px;
  padding: 10px;
  transition: 120ms ease;

  &:hover {
    box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.06);
  }
}

html body .login-link {
  display: none;
}