.swiper {
  width: 600px;
  height: 100%;

  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-button-next {
    margin-left: 20px;
  }
}

.swiper-button-next {

}